:root{
    --left:hsl(184, 50%, 30%);
    --right:hsl(212, 58%, 35%);;
}
*{margin: 0; padding: 0; box-sizing: border-box;}
header{
    height: 400px;
    background-image: linear-gradient(var(--left), var(--right));
    display: flex;
    row-gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    text-shadow: 1px 1px 3px #000;
}
video{
    width: 50vw;
    border-radius: 10px;
}
.myContainer{
    width: 90%;
    margin:0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    background-color: rgb(58, 48, 13);
}
.content{
    display: flex;
    flex-direction: column;
    row-gap: .7rem;
}